#![enable(implicit_some)]
#![enable(unwrap_newtypes)]
(
    columns: [
        {
            "name": "FA",
            "datatype": Struct([
                (
                    name: "Label",
                    dtype: String,
                ),
                (
                    name: "Carbons",
                    dtype: UInt8,
                ),
                (
                    name: "Doubles",
                    dtype: List(Int8),
                ),
                (
                    name: "Triples",
                    dtype: List(Int8),
                ),
            ]),
            "length": 10,
            "values": [
                {
                    "name": "Label",
                    "datatype": String,
                    "bit_settings": "",
                    "values": [
                        "Pa",
                        "St",
                        "Ol",
                        "Oc11",
                        "Li",
                        "Ar",
                        "Ln",
                        "Ga",
                        "Be",
                        "Er",
                    ],
                },
                {
                    "name": "Carbons",
                    "datatype": UInt8,
                    "bit_settings": "",
                    "values": [
                        16,
                        18,
                        18,
                        18,
                        18,
                        20,
                        18,
                        20,
                        22,
                        22,
                    ],
                },
                {
                    "name": "Doubles",
                    "datatype": List(Int8),
                    "bit_settings": "",
                    "values": [
                        {
                            "name": "",
                            "datatype": Int8,
                            "bit_settings": "",
                            "values": [],
                        },
                        {
                            "name": "",
                            "datatype": Int8,
                            "bit_settings": "",
                            "values": [],
                        },
                        {
                            "name": "",
                            "datatype": Int8,
                            "bit_settings": "",
                            "values": [9],
                        },
                        {
                            "name": "",
                            "datatype": Int8,
                            "bit_settings": "",
                            "values": [11],
                        },
                        {
                            "name": "",
                            "datatype": Int8,
                            "bit_settings": "",
                            "values": [9, 12],
                        },
                        {
                            "name": "",
                            "datatype": Int8,
                            "bit_settings": "",
                            "values": [],
                        },
                        {
                            "name": "",
                            "datatype": Int8,
                            "bit_settings": "",
                            "values": [9, 12, 15],
                        },
                        {
                            "name": "",
                            "datatype": Int8,
                            "bit_settings": "",
                            "values": [9],
                        },
                        {
                            "name": "",
                            "datatype": Int8,
                            "bit_settings": "",
                            "values": [],
                        },
                        {
                            "name": "",
                            "datatype": Int8,
                            "bit_settings": "",
                            "values": [13],
                        },
                    ],
                },
                {
                    "name": "Triples",
                    "datatype": List(Int8),
                    "bit_settings": "",
                    "values": [
                        {
                            "name": "",
                            "datatype": Int8,
                            "bit_settings": "",
                            "values": [],
                        },
                        {
                            "name": "",
                            "datatype": Int8,
                            "bit_settings": "",
                            "values": [],
                        },
                        {
                            "name": "",
                            "datatype": Int8,
                            "bit_settings": "",
                            "values": [],
                        },
                        {
                            "name": "",
                            "datatype": Int8,
                            "bit_settings": "",
                            "values": [],
                        },
                        {
                            "name": "",
                            "datatype": Int8,
                            "bit_settings": "",
                            "values": [],
                        },
                        {
                            "name": "",
                            "datatype": Int8,
                            "bit_settings": "",
                            "values": [],
                        },
                        {
                            "name": "",
                            "datatype": Int8,
                            "bit_settings": "",
                            "values": [],
                        },
                        {
                            "name": "",
                            "datatype": Int8,
                            "bit_settings": "",
                            "values": [],
                        },
                        {
                            "name": "",
                            "datatype": Int8,
                            "bit_settings": "",
                            "values": [],
                        },
                        {
                            "name": "",
                            "datatype": Int8,
                            "bit_settings": "",
                            "values": [],
                        },
                    ],
                },
            ],
        },
        {
            "name": "Triacylglycerol",
            "datatype": Float64,
            "bit_settings": "",
            "values": [
                158879.309,
                44787902.719,
                5293086.570,
                16002702.583,
                166826.481,
                15251551.790,
                2234271.164,
                3079559.720,
                550935.042,
                1865383.194,
                None,
                108539.152,
            ],
        },
        {
            "name": "Diacylglycerol1223",
            "datatype": Float64,
            "bit_settings": "",
            "values": [
                None,
                7872077.048,
                1128186.868,
                7630812.954,
                None,
                6689161.628,
                384309.912,
                567018.163,
                20743.139,
                282568.549,
                None,
                None,
            ],
        },
        {
            "name": "Monoacylglycerol2",
            "datatype": Float64,
            "bit_settings": "",
            "values": [
                None,
                1559170.202,
                577806.435,
                32673484.375,
                None,
                27455508.544,
                None,
                842143.255,
                None,
                631635.280,
                221615.102,
                None,
            ],
        },
    ],
)